<div class="page-home">
    <div class="banner">
        <h1 class="banner-title">One app to rule them all</h1>
        <a href="{{authUrls.google}}" class="waves-effect waves-light btn-large google-btn"><i class="fa fa-google-plus"></i><span>Sign in with Google</span></a>
    </div>
</div>